/* Google Fonts */
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.raleway{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
 }

 /* shared styles */
.p-color{
    color: #4E47FF;
}
button{
    background: #4E47FF;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    cursor: pointer;
}
body{
    background: rgba(78, 71, 255, 0.05);
}
main{
    margin: 0 150px;
}
section{
    margin: 100px 0;
}
/* header styles */
header{
    width: 100%;
    height: 700px;
    background-image: url(../Assets/Hero-bg.png);
    text-align: center;
}
nav{
    margin: 0 150px;
    padding: 50px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
nav h3{
    font-weight: 900;
    font-size: 35px;
}
.hero-area{
    margin: 0 270px;
    text-align: center;
}
.hero-area h1{
    font-weight: 700;
    font-size: 85px;
    color: #252432;
}
/* action section styles */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-container{
    margin: 65px 0;
}
.action-title{
    font-weight: 700;
    font-size: 45px;
}
.action-description{
    color: #808080;
    font-size: 24px;
    width: 500px;
}
.action img{
    border-radius: 50px;
}
/* user section styles */
.users{
    text-align: center;
    background: rgba(78, 71, 255, 0.102);
    border-radius: 25px;
    padding: 50px 80px;
}
.user-title{
    font-weight: 700;
    font-size: 45px;
}
.user-container{
    display: flex;
    justify-content: space-around;
}
.user-data{
    font-weight: 700;
    font-size: 80px;
    margin: 0;
}
.user-status{
    font-size: 20px;
    color: #808080;
    margin-top: 0;
}
/* feedback style */
.reviews h3{
    text-align: center;
}
.review-title{
    font-weight: 700;
    font-size: 43px;
}
.review-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.review-column{
    padding: 24px;
    border-radius: 15px;
    background: #fff;
}
 .stars{
    margin: 14px 0;
    align-content: last baseline;
    gap: 5px;
 }
 .review{
    margin: 14px 0;
    align-content: last baseline;
 }
 .reviewer{
    margin: 14px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    align-items:center;
 }
.reviewer img{
    border-radius: 50%;
 }
 .reviewer .name{
    width: 100%;
 }